*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.mobile_background_top{
    display: none;
}
.background_top{
    display: block;
    width: 1280px;
    height: 908px;
    position: absolute;
    z-index: -1;
}
header{
    width: 1280px;
    height: 180px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cozy_house {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.cozy_house p:first-child{
    color: #F1CDB3;
    font-family: "Georgia", sans-serif;
    font-size: 32px;
    line-height: 110%; /* 35.2px */
    letter-spacing: 1.92px;
}
.cozy_house p:last-child{
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    letter-spacing: 1.3px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #FAFAFA;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 160%; /* 24px */
}
main{
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}
.content_1{
    width: 100%;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.not_only{
    width: 460px;
    height: 322px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 163px;
}
.not_only p:first-child{
    width: 310px;
    height: 114px;
    color: #FFF;
    font-family: "Georgia", sans-serif;
    font-size: 44px;
    line-height: 130%; /* 57.2px */
}
.not_only p:last-of-type{
    width: 460px;
    height: 72px;
    color: #CDCDCD;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 160%; /* 24px */
}
.not_only>button{
    padding: 15px 45px;
    border: none;
    border-radius: 100px;
    background: #F1CDB3;
    color: #292929;
    font-family: "Georgia", sans-serif;
    font-size: 17px;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}
.content_2{
    width: 100%;
    display: flex;
    padding: 0 40px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 120px;
    margin-bottom: 100px;
}
.content_2>img{
    margin-top: 80px;
    margin-left: 175px;
}
.about_the_shelter{
    width: 430px;
    height: 380px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 94px;
}
.about_the_shelter p:first-child{
    width: 370px;
    height: 90px;
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 35px;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
.about_the_shelter p:nth-child(2){
    width: 430px;
    height: 96px;
    color: #4C4C4C;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 160%; /* 24px */
}
.about_the_shelter p:last-child{
    width: 430px;
    height: 144px;
    color: #4C4C4C;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 160%; /* 24px */
}
.content_3{
    width: 1280px;
    height: 877px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #F6F6F6;
}
.content_3>p{
    width: 400px;
    height: 90px;
    color: #545454;
    text-align: center;
    font-family: "Georgia", sans-serif;
    font-size: 35px;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    margin-top: 80px;
}
.our_friends{
    width: 990px;
    height: 435px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin: 60px 0;
}
.card{
    width: 270px;
    height: 435px;
    border-radius: 9px;
    background: #FAFAFA;
    gap: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.card>p{
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    letter-spacing: 1.2px;
}
.card>button{
    padding: 15px 45px;
    background: #FAFAFA;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    color: #292929;
    font-family: "Georgia", sans-serif;
    font-size: 17px;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
}
.content_3>button{
    padding: 15px 45px;
    border: none;
    border-radius: 100px;
    background: #F1CDB3;
    color: #292929;
    font-family: "Georgia", sans-serif;
    font-size: 17px;
    line-height: 130%; /* 22.1px */
    letter-spacing: 1.02px;
    margin-bottom: 100px;
}
.content_4{
    width: 1280px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding-top: 53px;
    padding-bottom: 100px;
}
.content_4>p{
    width: 320px;
    height: 90px;
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 35px;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
    text-align: center;
}
.help{
    width: 1026px;
    height: 281px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top .block{
    display: none;
}
.bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.bottom .block{
    display: none;
}
.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.icon>p{
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
.content_5{
    width: 1280px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 100px;
    gap: 30px;
}
.donation{
    width: 380px;
    height: 282px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.donation p:first-child{
    width: 300px;
    height: 90px;
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 35px;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
.donation p:nth-child(2){
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 15px;
    line-height: 110%; /* 16.5px */
    letter-spacing: 0.9px;
}
.credit_card{
    padding: 10px 15px;
    gap: 10px;
    border-radius: 9px;
    background: #F1CDB3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donation{
    color: #545454;
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
}
.donation p:nth-child(4){
    color: #B2B2B2;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-style: italic;
    line-height: 18px; /* 150% */
}
footer{
    width: 1280px;
    height: 350px;
    background: url("images/footer-gradient-background.png");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 160px;
    padding: 0 40px;
}
.questions{
    width: 302px;
    height: 234px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 56px;
}
.geolocations {
    width: 302px;
    height: 234px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 56px;
}
footer section p:first-child{
    color: #FFF;
    font-family: "Georgia", sans-serif;
    font-size: 35px;
    line-height: 130%; /* 45.5px */
    letter-spacing: 2.1px;
}
.info{
    color: #F1CDB3;
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    line-height: 115%; /* 23px */
    letter-spacing: 1.2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.geolocations>.info:first-of-type>p{
    margin: 34px 0 37px 0;
    width: 258px;
    height: 46px;
}
footer>img{
    margin-top: 40px;
}